<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>Dropbear</string>
	<key>Program</key>
	<string>/bootstrap/usr/local/bin/dropbear</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PS1</key>
		<string>\h:\w \u\$ </string>
		<key>PATH</key>
		<string>/bootstrap/usr/local/bin:/bootstrap/usr/sbin:/bootstrap/usr/bin:/bootstrap/sbin:/bootstrap/bin:/bin:/usr/bin:/sbin</string>
		<key>BOOTSTRAP_PREFIX</key>
		<string>/bootstrap</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/bootstrap/usr/local/bin/dropbear</string>
		<string>-S</string>
		<string>/bootstrap</string>
		<string>-p</string>
		<string>22</string>
		<string>-p</string>
		<string>2222</string>
		<string>-F</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
