Package: com.yourcompany.taskporttest
Name: TaskPortTest
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: CoolStar
Author: CoolStar
Section: System
Tag: role::hacker
